@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "公选课选课";

}
@using FluentBootstrap;
@using FluentBootstrap.Mvc;
        
       
        
        @Html.Bootstrap().Heading1("大连科技学院公选课开课计划").SetAlignment(TextAlignment.Center).SetState(TextState.Primary).SetBackgroundState(BackgroundState.Success)
        
        @using (var table = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Hover).SetAlignment(TextAlignment.Center).AddCss("text-center").SetId("Elective").Begin())
        {
            
            <thead class="text-center">
                <tr>
                    <th>序号</th>
                    <th>课程名称</th>
                    <th class=" hidden-480">任课教师</th>
                    <th class=" hidden-480">开放状态</th>
                    <th class=" hidden-480">开放人数</th>
                    <th class=" hidden-480">已选人数</th>
                    <th>余量</th>
                    <th>课程表</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: CouseList">
                <tr data-bind="css:{success:(IsCurrentStudentCanChoose) ,warning:(IsHaveChosen),danger:(!IsCurrentStudentCanChoose)}"  class="vert-align">
                    <td class="vert-align"><span data-bind="html: XuHao"></span></td>                    
                    <td class="vert-align"><span data-bind="html: CourseName"></span></td>
                    <td class="vert-align"><span data-bind="html: TeacherName"></span></td>
                    <td class="vert-align"><span data-bind="html: SelectState"></span></td>
                    <td class="vert-align"><span data-bind="html: OpenNum"></span></td>
                    <td class="vert-align"><span data-bind="html: HaveNum"></span></td>
                    <td class="vert-align"><span data-bind="html: allowance"></span></td>
                    <td class="vert-align"><span data-bind="html: KCB"></span></td>
                    <td class="vert-align"><span data-bind="html: Html"></span></td>
                </tr>
            </tbody>

         
        }

   