
@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>登录页面 - 大连科技学院学生选课系统</title>
    <meta name="keywords" content="大连科技学院,学生,选课,教务处" />
    <meta name="description" content="大连科技学院学生选课系统 大连科技学院教务处徐国旭开发" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!-- page specific plugin styles -->
    <!-- fonts -->

    <link rel="stylesheet" href="/assets/css/googlecss.css" />

    <!-- ace styles -->

    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-layout">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h2>
                                <i class="icon-leaf green"></i>
                                <span class="red">大连科技学院学生选课系统</span>
                             </h2>
                            
                        </div>

                        <div class="space-6"></div>
                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <i class="icon-coffee green"></i>
                                            请输入登陆信息:
                                        </h4>
                                        <div class="space-6"></div>


                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form",ID="Myform"}))
                                        {
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <label class="blue">学号</label>
                                                       <span class="block input-icon input-icon-right">
                                                        <input type="text" ID="StudentCode" name="StudentCode" class="form-control" required maxlength="10" placeholder="请输入学号" />
                                                        
                                                          <i class="icon-user"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                      <label class="blue">密码</label>
                                                        <span class="block input-icon input-icon-right">
                                                        <input type="password" ID="StudentPassword" name="StudentPassword" required  class="form-control" placeholder="请输入密码" />
                                                        <i class="icon-lock"></i>
                                                    </span>
                                                </label>
                                                <div class="space"></div>
                                                <div class="space-4"></div>
                                                <div class="center">
                                                    <button type="reset" class="btn btn-danger">重&nbsp;&nbsp;置</button>
                                                    <button value="Login" class="btn btn-success" id="buttonsubmit">点击登陆</button>
                                                </div>
                                            </fieldset>
                                           
                                        }

                                       
                                       
                                       
                                    </div><!-- /widget-main -->

                                    <div class="toolbar clearfix">
                                        <h5 class="center black">
                                           @System.DateTime.Now.Year.ToString() &copy; 大连科技学院教务处版权所有 
                                        </h5>
                                        <h5 class="center white">
                                            开发者：<b class="red">徐国旭</b>
                                        </h5>
                                    </div>
                                </div><!-- /widget-body -->
                            </div><!-- /login-box -->                         

                            
                        </div><!-- /position-relative -->
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->

   

    
   
    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    
    <script src="/Scripts/jquery-2.2.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src='/assets/js/bootstrap.min.js'></script>
    <script src="/Scripts/jquery.form.min.js"></script>

    <!-- inline scripts related to this page -->
    <script language="javascript" type="text/javascript">
        $.validator.setDefaults({
            submitHandler: function () {
                alert("提交事件!");
            }
        });
    $(document).ready(function(){
        $(function () {
           
            $("#Myform").validate();
            $('#Myform').ajaxForm();
            $('#Myform').submit(MyAjax);
           

        });
        function MyAjax() {
            $(this).ajaxSubmit();
            alert($('#Myform').serialize());
            $.ajax({
                //需要使用post提交
                type: "post",
                url: "Student/GetStudentNameByCode",
                data: "scode=" + $('#StudentCode').val() ,
                async: true, //异步
                cache: false, //不加载缓存
                success: function (e) {
                    alert(e);//返回json格式
                },
                error: function (err) {
                    alert("出错了！");
                }
               
            });
            return false;
        }
    })
    </script>  
    
    
    
</body>
</html>
