


        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default ">
                        <div class="panel-heading">
                            <h3 class="panel-title"><p class="glyphicon glyphicon-log-in"></p> 请登录</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form"  >
                                <fieldset>
                                    <div class="form-group" >
                                        <label  >学号:</label><input class="form-control username " placeholder="请输入学号" name="StdCode"  autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label>密码:</label><input class="form-control" placeholder="请输入密码" name="StdPassword" type="password" value="">
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-info btn-circle">
                                            <i class="fa fa-check"></i>

                                        </button>
                                    </div>
                                    <a href="/Student/Index" class="btn btn-lg btn-success btn-block " >登    陆</a>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
     
   